.backgroundPopup {
  background-color: #c9c5c5;
  border-radius: 0.8vh;
  box-shadow: 0 0 30px 0 #020202;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5rem;
  padding: 3em;
  position: absolute;
  width: min(67vw);
  flex-wrap: wrap;
}

.backgroundImage {
  aspect-ratio: 16/9;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 0.5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-filter: saturate(0.2);
  filter: saturate(0.2);
  height: 5em;
  margin: 0.5em;
  outline: none;
  padding: 7%;
  cursor: pointer;
  transition: -webkit-filter 0.25s ease;
  transition: filter 0.25s ease;
  transition: filter 0.25s ease, -webkit-filter 0.25s ease;
}

#backgroundImage2 {
  background-image: url("https://images.unsplash.com/photo-1548041347-390744c58da6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage3 {
  background-image: url("https://images.unsplash.com/photo-1548049983-5be60c9bc004?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage4 {
  background-image: url("https://images.unsplash.com/photo-1473448912268-2022ce9509d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage5 {
  background-image: url("https://images.unsplash.com/photo-1547532182-bf296f6be875?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage6 {
  background-image: url("https://images.unsplash.com/photo-1547989453-11e67ffb3885?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage7 {
  background-image: url("https://images.unsplash.com/photo-1496614932623-0a3a9743552e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&q=100&w=1920&h=1080");
}

#backgroundImage8 {
  background-image: url("https://images.unsplash.com/photo-1581888517319-570283943d82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage9 {
  background-image: url("https://images.unsplash.com/photo-1563950708942-db5d9dcca7a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#backgroundImage10 {
  background-image: url("https://images.unsplash.com/photo-1461301214746-1e109215d6d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&q=100&w=1920&h=1080");
}

#deleteBackground {
  background-color: #e1dfdfe8;
  border-radius: 6vh;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 20px #a1adae;
  cursor: pointer;
  font-family: Josefin Sans, sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  position: absolute;
  padding: 1.5rem;
}

.deleteButtonContainer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

.pictureContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 4vh;
  justify-content: center;
}
