.shortcutBubble {
  background-color: #80808096;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 1vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 4em;
  height: 5em;
  cursor: pointer;
}

.shortcutBubble:hover {
  background-color: #646262;
  transition: 0.3s;
}
