.bubbleContainer {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 2em;
}

.addShortcutBubble {
  background-color: #80808096;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 1vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 4em;
  height: 5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addShortcutBubble:hover {
  background-color: #646262;
  transition: 0.3s;
}

.plusContainer {
  display: flex;
  background: #575252;
  border-radius: 4vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#plus {
  color: white;
  font-size: 2em;
}
