@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.centerComponents {
  align-items: center;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding: 1em;
  width: max(1280px, 60vw);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#searchBox {
  background: linear-gradient(90deg, #ffffff00, #fff, #ffffff00);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 25% 0.1em;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: Josefin Sans, sans-serif;
  outline: none;
  text-align: center;
  text-shadow: inherit;
  text-transform: capitalize;
  transition: background-size 0.5s ease;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

#searchBox:focus {
  background-size: 100% 0.1em;
}

#helloText {
  color: #fff;
  font-family: Josefin Sans, sans-serif;
  font-weight: 100;
  text-shadow: 0.1rem 0.1rem 0.4rem #000;
}
