.navBar {
  background-color: #282e2c;
  font-size: 1.2rem;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  transition: width 0.2s ease;
  width: 3em;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  grid-gap: 1rem;
}

.navBar:hover {
  width: 16em;
}

#backgroundIcon {
  opacity: 0.5;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#linkIcon {
  opacity: 0.5;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}
