.navBar {
  background-color: #282e2c;
  font-size: 1.2rem;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  transition: width 0.2s ease;
  width: 3em;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 0;
}

.navBar:hover {
  width: 16em;
}

#backgroundIcon {
  opacity: 0.5;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#linkIcon {
  opacity: 0.5;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

#backgroundText {
  opacity: 0.5;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#linkText {
  opacity: 0.5;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

#backgroundNav {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.5;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#linkNav {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.5;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#rocket {
  color: white;
  font-size: 1.5rem;
}

.navBar:hover #rocket {
  opacity: 1;
  transform: rotate(360deg);
  transition: all ease 0.5s;
}

.navBar:hover #rocketUI {
  margin-left: 5%;
  width: -webkit-fill-available;
  float: left;
}
