.background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity ease 0.5s;
  z-index: -1;
  opacity: 1;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  color: var(--text-normal);
  scroll-behavior: smooth;
  user-select: none;
}

.backgroundPopupContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
