.shortcutsPopup {
  background-color: #c9c5c5;
  border-radius: 0.8vh;
  box-shadow: 0 0 30px 0 #020202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding: 3em;
  position: absolute;
  width: min(40vw);
  flex-wrap: wrap;
}

#closeName {
}

.shortcutsContainer {
  display: flex;
  flex-direction: column;
  height: max(26vw);
  align-items: center;
}

.shortcutsHeader {
  color: #fff;
  margin: 0;
  font-family: Josefin Sans, sans-serif;
  font-weight: 100;
  text-shadow: 0.1rem 0.1rem 1rem #0b0b0b;
  text-align: center;
}

#closeShortcuts {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  width: fit-content;
  display: flex;
  cursor: pointer;
}

#addShortcutsPlus {
  background: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  width: fit-content;
  display: flex;
  cursor: pointer;
}

.addShortcutsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  overflow-wrap: anywhere;
  text-align: center;
  width: 27vw;
  flex-direction: column;
}

.linksContainer::-webkit-scrollbar {
  display: none;
}

.inputContainer {
  grid-gap: 1.5em;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 1em;
  align-items: center;
}

.addShortcutInput {
  background: transparent;
  border: none;
  border-bottom: 2px solid #3f51b5;
  outline: none;
  font-size: 1.5rem;
  color: #3f51b5;
  text-align: center;
  font-family: Josefin Sans, sans-serif;
  width: 150%;
}

.addShortcutInput::placeholder {
  font-family: Josefin Sans, sans-serif;
}
