.shortcutName {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.shortcutIcon {
  width: 2rem;
  height: 2rem;
}

.shortcutIcon:hover ~ .shortcutName {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  transition: 0.3s;
}

.shortcutName:hover {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  transition: 0.3s;
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  left: 8vw;
  position: absolute;
}

.mainShortcutDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.changeShortcutIcon:hover {
  color: #696767;
  transition: 0.3s;
}
